@import url('https://fonts.googleapis.com/css2?family=Roboto:wght@300;400;700&display=swap');

:root{
    --wite: #E5EBEB;
    --blu: #73A6A2;
    --peach: #FF9A8C;
    --cherry: #E86356;
    --gray: #636363;
    --dark: #403E39;
}

body{
    margin: 0;

    background: var(--white);
    color: var(--dark);

    font-family: 'Roboto', sans-serif;
    font-weight: 300;

    font-size: 20px;
}


#calc{
    background: var(--dark);
    color: var(--wite);

    width: 525px; 
    margin: auto;
    margin-top: 50px;
    padding: 25px;

    box-sizing: border-box;
    box-shadow: 0px 2px 8px 2px rgba(0,0,0,0.5);
}

#calc-display{
    background: var(--blu);
    font-weight: 500;
    font-size: 44px;

    display: flex;

    padding: 20px;
    box-sizing: border-box;
}

#calc-display p{
    margin: 0;
    width: 100%;
    word-wrap: break-word;
    min-height: 60px;
    text-align: right;
}

#calc-body{
    display: grid;
    grid-template-columns: repeat(4, 1fr);
    grid-template-rows: repeat(5, 1fr);

    justify-content: center;
    align-items: center;

    margin-top: 25px;
}
    
.btn{
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: var(--gray);

    font-weight: 300;
    font-size: 40px;

    border-radius: 10%;
    margin: 8px;

    min-width: 100px; min-height: 100px;

    transition-property: background-color;
    transition-duration: 0.2s;

    box-shadow: 0px 2px 8px 2px rgba(0,0,0,0.2);
}

.clear{
    background-color: var(--cherry);
}

.equals{
    background-color: var(--blu);
}

.btn:hover, .clear:hover{
    cursor: pointer;
    background-color: var(--peach);
}

.equals{
    grid-column-start: 3;
    grid-column-end: 5;
    font-size: 44px;
    font-weight: 500;
    border-radius: 0px;
}

#author{
    text-align: center;
}

#author a{
    text-decoration: none;
    color: var(--cherry);
}

#author a:hover{
    color: var(--peach);
}


@media (max-width: 550px){
    #calc{
        width: 100vw; 
        
        padding: 25px;
        margin-top: 0px;
    
        box-sizing: border-box;
        box-shadow: 0px 2px 8px 2px rgba(0,0,0,0.5);
    }
    
    #calc-body{
        margin-top: 25px;
    }


    #calc-display{
        padding: 20px;
    }
    
    #calc-display p{
        min-height: 10vw;
        font-size: 8vw;
    }


    .btn{
        font-size: 7vw;
        margin: 8px;
    
        min-width: 16vw; min-height: 16vw;
    }
}